<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Creative Studio landing page.">
    <meta name="author" content="Devcrud">
    <title>Landing Page</title>

    <!-- font icons -->
    <link rel="stylesheet" href="../static/assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="../static/assets/css/creative-studio.css">
</head>
<body>
 <header class="header">
        <div class="overlay">

            <h1 class="title">Our Services</h1>
            <h5 >Please Scroll down</h5>

        </div>
    </header>
<section id="service">
        <div class="container">
            <h5 class="section-title text-center mb-6">Our Service</h5>
            <h5 >Please Scroll down</h5>
            <div class="row">

                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-pencil text-primary"></i></h2>
                            <h5 class="card-title">Can give update about crime</h5>
                            <p>When poeple will visit a place and saw some crime in that place,then he / she can give our system
                            update about the crime </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-ruler-pencil text-primary"></i></h2>
                            <h5 class="card-title">Can make F.I.R</h5>
                            <p>Sometimes poeple become victim of crime and not possible to go to the police station fast
                            ,then they can create a F.I.R form online in our website which will be responed fast</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-blackboard text-primary"></i></h2>
                            <h5 class="card-title">Can see the complained update</h5>
                            <p>poeplw who created a F.I.R form and want to see the update about the investigation
                             then they can see the update status in uur website</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-heart text-primary"></i></h2>
                            <h5 class="card-title">Can get Emergency services</h5>
                            <p>We have some emergency contacts like,<br>1.Police Station<br>
                            2.Fire Services<br>3.Hospital <br>For any inconvenient situation people can contact with
                                these given emergency services</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-link text-primary"></i></h2>
                            <h5 class="card-title">Linked with police station</h5>
                            <p>As we are connected with the police station, people easily can be connected to the police station
                            by our website</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-location-pin text-primary"></i></h2>
                            <h5 class="card-title">can get update about the crime rate about a the place</h5>
                            <p>Sometimes people want to go to a place and sometimes they don't know about the place crime history.
                            So,by this feature they can see the crime rate before going anywhere</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>